<%= render 'pages/home' unless user_signed_in? %>

<div id="wins" class="transitions-enabled">
  <% @wins.each do |win| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(win.image.url(:medium)), win %>
      <div class="panel-body">
        <p><%= win.description %></p>
        <p><strong><%= win.user.name if win.user %></strong></p>

        <% if current_user && (win.user == current_user) %>
          <div class="actions">
            <%= link_to edit_win_path(win) do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>
            <%= link_to win, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
